<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/img/icon.png">
    <title>Meet The Team</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    <!-- Research Team -->

    <div class="w3-container w3-padding-32">
        <div>
          <div class="w3-container w3-padding-32">
              <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16 w3-center" style="font-size: 40px; color: #4d1979; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif">RESEARCH TEAM</h3>
          </div>
          <div id="cubes">
            <div class="cube p2">
              <div class="title">
                <h1>Kien Nguyen</h1>
                <p>Computer Science Major</p>
              </div>
              <div class="innerBorder"></div>
              <div class="darken"></div>
              <div class="content">
                <p><strong>Research Interests: </strong>Cloud Computing, Monte Carlo Tree Search and Convolutional Neural Networks in AlphaZero.</p>
              </div>
            </div>
            <div class="cube p1">
              <div class="title">
                <h1>Quang Truong</h1>
                <p>Computer Science Major</p>
              </div>
              <div class="innerBorder"></div>
              <div class="darken"></div>
              <div class="content">
                  <p><strong>Research Interests: </strong>Artificial Intelligence, Machine Learning, Deep Learning, Algorithms.</p>
              </div>
            </div>
            <div class="cube p3">
              <div class="title">
                <h1>Kimon Vogt</h1>
                <p>Electrical Engineering Major</p>
              </div>
              <div class="innerBorder"></div>
              <div class="darken"></div>
              <div class="content">
                  <p><strong>Research Interests: </strong>Information Flow, Probabilities, AI, Machine Learning, Computer Vision, Virtual Reality, Speech Recognition and Human-Computer Interaction</p>
              </div>
            </div>
            <div class="cube p4">
              <div class="title">
                <h1>Megan Phan</h1>
                <p>Computer Science Major</p>
              </div>
              <div class="innerBorder"></div>
              <div class="darken"></div>
              <div class="content">
                  <p><strong>Research Interests: </strong>Web Development and Design, Machine Learning, Embedded Programming.</p>
              </div>
            </div>
            <div class="cube p5">
              <div class="title">
                <h1>Khiem Nguyen</h1>
                <p>Computer Science Major</p>
              </div>
              <div class="innerBorder"></div>
              <div class="darken"></div>
              <div class="content">
                <p><strong>Research Interests: </strong>Deep Learning, Artificial Intelligence, Data Science, Internet of Things, Robotics.</p>
              </div>
            </div>
        </div>
      </div>
      </div>
<!-- Advisors -->
<div class="w3-container w3-padding-32">
    <div>
      <div class="w3-container w3-padding-32">
        <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16 w3-center" style="font-size: 40px; color: #4d1979; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif">ADVISORS</h3>
      </div>
      <div id="cubes">
        <div class="cube p7">
          <div class="title">
            <h1>Dr. Ze-Li Dou</h1>
            <p>Associate Professor, Mathematics</p>
          </div>
          <div class="innerBorder"></div>
          <div class="darken"></div>
          <div class="content">
              <p><strong>Research Interests: </strong>Mathematics, especially Number Theory and History. He is also an amateur 4-dan Go player.</p>
          </div>
        </div>
        <div class="cube p6">
            <div class="title">
              <h1>Dr. Liran Ma</h1>
              <p>Associate Professor, Computer Science</p>
            </div>
            <div class="innerBorder"></div>
            <div class="darken"></div>
            <div class="content">
              <p><strong>Research Interests: </strong>Security & Reliability of Networked Information Systems, Algorithms & Protocols for Smartphone Applications, Internet of Things, and Security Education.</p>
            </div>
          </div>
    </div>
  </div>
  </div>
    {% endblock %}
  </body>
</html>